/* .navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #8f4ff6;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .link {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   */

   .navbar {
    background-color: #0F0F0F;
    color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    height: 40px;
    border-radius: 50%;
    width: auto;
    font-size: 1.5rem;
    color: #8f4ff6;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .link {
    color: #f8f9fa;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0F0F0F;
    z-index: 1;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f8f9fa;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }